{% load static %}

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> {% block title %} {% endblock  %}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/png"
    />

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/icofont.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/plugins/swiper-bundle.min.css' %}"
    />

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    
    {% block style %}
      
    {% endblock %}
      

  </head>

  <body>
    <main class="main-wrapper">
      <!-- .....:::::: Start Header Section :::::.... -->
      <header
        class="header-section sticky-header d-none d-lg-block section-fluid-200"
      >
        <div class="header-wrapper">
          <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
              <div class="col-auto">
                <!-- Start Header Logo -->
                <a href="{% url 'Home:Home' %}" class="header-logo">
                  <img src="{% static 'images/logo/logo.png' %}" alt="" />
                </a>
                <!-- End Header Logo -->
              </div>
              <div class="col-auto d-flex align-items-center">
                <!-- Start Header Menu -->
                <ul class="header-nav">
                  <li><a href="{% url 'Home:Home' %}">Home</a></li>
                  <li class="has-dropdown">
                    <a href="{% url 'Services:Services' %}">Service</a>
                  </li>
                  <li class="has-dropdown">
                    <a href="{% url 'Projects:Project' %}">Project</a>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Pages</a>
                    <ul class="submenu">
                      <li><a href="{% url 'About:About' %}">About Us</a></li>
                      <li><a href="{% url 'About:FAQ' %}">FAQ</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="{% url 'Blog:Blog' %}">Blogs</a>
                  </li>
                  <li><a href="{% url 'Contact:Contact' %}">Contact</a></li>
                </ul>
                <!-- End Header Menu -->
              </div>
              <div class="col-auto">
                <div class="header-btn-link">
                  <a href="{% url 'Contact:Contact' %}" class="btn btn-lg btn-default"
                    >Get Started</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- .....:::::: End Header Section :::::.... -->

      <!-- .....:::::: Start Mobile Header Section :::::.... -->
      <div class="mobile-header d-block d-lg-none">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <div class="mobile-logo">
                <a href="{% url 'Home:Home' %}"
                  ><img src="{% static 'images/logo/logo.png' %}" alt=""
                /></a>
              </div>
            </div>
            <div class="col-auto">
              <div class="mobile-action-link text-end">
                <a data-bs-toggle="offcanvas" href="#toggleMenu" role="button"
                  ><i class="icofont-navigation-menu"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .....:::::: Start MobileHeader Section :::::.... -->

      <!--  .....::::: Start Offcanvas Mobile Menu Section :::::.... -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="toggleMenu">
        <div class="offcanvas-header">
          <!-- Start Header Logo -->
          <a href="{% url 'Home:Home' %}" class="header-logo"
            ><img src="{% static 'images/logo/logo.png' %}" alt=""
          /></a>
          <!-- End Header Logo -->
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <!-- Start Offcanvas Mobile Menu Wrapper -->
          <div class="offcanvas-mobile-menu-wrapper">
            <!-- Start Mobile Menu  -->
            <div class="mobile-menu-bottom">
              <!-- Start Mobile Menu Nav -->
              <div class="offcanvas-menu">
                <ul>
                  <li>
                    <a href="{% url 'Home:Home' %}"><span>Home</span></a>
                  </li>
                  <li>
                    <a href="{% url 'Services:Services' %}"><span>Services</span></a>
                  </li>
                  <li>
                    <a href="{% url 'Projects:Project' %}"><span>Portfolio</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Pages</span></a>
                    <ul class="mobile-sub-menu">
                      <li>
                        <a href="{% url 'About:About' %}"><span>About Us</span></a>
                      </li>
                      <li><a href="{% url 'About:FAQ' %}">FAQ</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'Blog:Blog' %}"><span>Blogs</span></a>
                  </li>
                  <li>
                    <a href="{% url 'Contact:Contact' %}"><span>Contact</span></a>
                  </li>
                </ul>
              </div>
              <!-- End Mobile Menu Nav -->
            </div>
            <!-- End Mobile Menu -->

            <!-- Start Mobile contact Info -->
            <div class="mobile-contact-info text-center">
              <ul class="social-link">
                <li>
                  <a href="#"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="icofont-twitter"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="icofont-skype"></i
                  ></a>
                </li>
              </ul>
            </div>
            <!-- End Mobile contact Info -->
          </div>
          <!-- End Offcanvas Mobile Menu Wrapper -->
        </div>
      </div>
      <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

      {% block body %} {% endblock %}

      <!-- ...::: Start Footer Section :::... -->
      <footer class="footer-section section-top-gap-0">
        <div class="box-wrapper">
          <!-- Start Footer Top -->
          <div class="footer-top footer-top-style-1">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="footer-top-box">
                    <div class="footer-top-left">
                      <!-- Start Footer Single Widget - About -->
                      <div class="footer-single-widget footer-about">
                        <a href="/" class="footer-logo">
                          <img
                            src="{% static 'images/logo/logo-dark.png' %}"
                            alt=""
                          />
                        </a>
                        <p>
                          There are many variation popular sheet containing
                          available have version software like available.
                        </p>
                        <address>Panchagarh, Bangladesh</address>
                      </div>
                      <!-- End Footer Single Widget - About-->
                    </div>
                    <div class="footer-top-right">
                      <!-- Start Footer Single Widget - Footer Menu -->
                      <div class="footer-single-widget footer-menu">
                        <h5 class="footer-title">Company</h5>
                        <ul class="footer-nav">
                          <li><a href="{% url 'About:About' %}">About Us</a></li>
                          <li><a href="{% url 'Contact:Contact' %}">Contact Us</a></li>
                          <li><a href="#">Print Ads</a></li>
                          <li><a href="{% url 'About:FAQ' %}">FAQ’s</a></li>
                          <li><a href="#">Careers</a></li>
                        </ul>
                      </div>
                      <!-- End Footer Single Widget - Footer Menu-->
                      <!-- Start Footer Single Widget - Footer Menu -->
                      <div class="footer-single-widget footer-menu">
                        <h5 class="footer-title">Quick Links</h5>
                        <ul class="footer-nav">
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Discussion</a></li>
                          <li><a href="#">Terms & Conditions</a></li>
                          <li><a href="#"> Customer Support</a></li>
                          <li><a href="#">Course FAQ’s</a></li>
                        </ul>
                      </div>
                      <!-- End Footer Single Widget - Footer Menu-->
                      <!-- Start Footer Single Widget - Footer Menu -->
                      <div class="footer-single-widget footer-menu">
                        <h5 class="footer-title">Product</h5>
                        <ul class="footer-nav">
                          <li><a href="#">Presentation</a></li>
                          <li><a href="#">E-Books</a></li>
                          <li><a href="#">Management Tool</a></li>
                          <li><a href="#">Dashboard</a></li>
                          <li><a href="#">Event Organizer</a></li>
                        </ul>
                      </div>
                      <!-- End Footer Single Widget - Footer Menu-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Footer Top -->

          <!-- Start Footer Bottom -->
          <div class="footer-bottom">
            <div class="container">
              <div
                class="
                  row
                  justify-content-center justify-content-md-between
                  align-items-center
                "
              >
                <div class="col-auto">
                  <p class="copytight-text">
                    &copy; 2021 Agency. Made with
                    <i class="icofont-heart"></i> by
                    <a
                      href="https://github.com/codermahiuddin"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Mahiuddin</a
                    >
                  </p>
                </div>

                <div class="col-auto">
                  <ul class="footer-bottom-link">
                    <li><a href="#">Terms of Service </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="/sitemap.xml">Sitemap</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Footer Bottom -->
        </div>
      </footer>
      <!-- ...::: End Footer Section :::... -->

      <!-- material-scrolltop button -->
      <button class="material-scrolltop" type="button"></button>
    </main>

    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor -->
    <script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <!-- <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script> -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>

    <!--Plugins JS-->
    <script src="{% static 'js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.waypoints.js' %}"></script>
    <script src="{% static 'js/plugins/counter.js' %}"></script>
    <script src="{% static 'js/plugins/images-loaded.min.js' %}"></script>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/ajax-mail.js' %}"></script>
    <script src="{% static 'js/plugins/material-scrolltop.js' %}"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="{% static 'js/main.js' %}"></script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
