{% extends 'base.html' %}

{% block title %} {{ BlogDetail.Title }} {% endblock  %}

{% load static %} 

{% block body %}

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section">
  <div class="box-wrapper">
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="breadcrumb-title">Blog Details</h2>
            <ul class="breadcrumb-nav">
              <li><a href="{% url 'Blog:Blog' %}">Blog</a></li>
              <li>Blog Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->

<!-- ...::: Start Blog Details Section :::... -->
<div class="blog-details-section section-top-gap-150">
  <div class="box-wrapper">
    <div class="blog-details-wrapper">
      <div class="container">
        <div class="row">

          <!-- Start Blog Details Top Area -->
          <div class="col-xl-10 offset-xl-1">
            <div class="blog-details-top text-center">
              <div class="post-meata">
                <span class="author">By<a href="#"> {{ BlogDetail.Name }} </a></span>
                <span>{{ BlogDetail.Time | date:"M d, Y" }}</span>
                <span>{{ BlogDetail.Time | timesince }} ago</span>
              </div>
              <h2 class="title"> {{ BlogDetail.Title }} </h2>

              <ul class="blog-tag">                
                {% for tag in BlogDetail.Tags.all %}                
                  <li><a href="#">{{ tag.name|title }}</a></li>
                {% endfor %}  
              </ul>

            </div>
          </div>
          <!-- End Blog Details Top Area -->

          <!-- Start Blog Details Hero Image -->
          <div class="col-12">
            <div class="blog-details-hero-image mb-20">
              <img
                class="img-fluid"
                src="{{ BlogDetail.Image_For_Detail.url }}"
                alt=""
              />
            </div>
          </div>
          <!-- End Blog Details Hero Image -->

          <!-- Start Blog Details Content -->
          <div class="col-12">
            <div
              class="
                blog-details-content-wrapper
                default-text-content
                section-fluid-100
              "
            >
              <p> {{ BlogDetail.Description | safe }} </p>

            </div>
          </div>
          <!-- ENd Blog Details Content -->

          <!-- Start Blog  Share -->
          <div class="col-12 section-fluid-100">
            <div class="blog-share">
              <div class="text">Share this article:</div>
              <ul class="social-link">
                <li>
                  <a
                    href="https://example.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://example.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="icofont-skype"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://example.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="icofont-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://example.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><i class="icofont-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Blog  Share -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Blog Details Section :::... -->

<!-- ...::: Start Blog Feed Display Section :::... -->
<div
  class="
    blog-feed-display-section
    mt-80
    section-inner-bg section-inner-padding-80
  "
>
  <div class="box-wrapper">
    <!-- Start Section Warpper -->
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div
            class="
              col-12
              pos-relative
              d-flex
              flex-column flex-sm-row
              justify-content-between
              align-items-center
            "
          >
            <div class="section-content">
              <h2 class="section-subtitle">You may also like</h2>
            </div>

            <!-- If we need navigation buttons -->
            <div class="top-slider-buttons">
              <div class="slider-button button-prev">
                <i class="icofont-long-arrow-left"></i>
              </div>
              <div class="slider-button button-next">
                <i class="icofont-long-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Section Warpper -->
    <!-- Start Blog Feed Wrapper -->
    <div class="blog-feed-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Start Blog Feed Slider -->
            <div class="blog-feed-slider blog-feed-slider-style-1">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->

                  
                  {% for list in BlogList %}
                            
                  <!-- Start Blog List Single Item -->
                  <div class="blog-list-single-item swiper-slide">
                    <a href="{% url 'Blog:BlogDetail' slug=list.slug %}" class="image"
                      ><img
                        src="{{ list.Image.url }}"
                        alt=""
                    /></a>
                    <div class="content">
                      <span class="author"
                        >By<a href="#">{{ list.Name }}</a></span
                      >
                      <h5 class="title">
                        <a href="{% url 'Blog:BlogDetail' slug=list.slug %}">{{ list.Title }}</a>
                      </h5>

                      <div class="post-info">
                        <span>{{ list.Time | date:"M d, Y" }}</span>
                        <span>{{ list.Time | timesince}} ago</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Blog List Single Item -->
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- End Blog Feed Slider -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Blog Feed Wrapper -->
  </div>
</div>
<!-- ...::: End Blog Feed Display Section :::... -->

<!-- ...::: Start Blog Comment Section :::... 
<div class="blog-comment-section section-top-gap-100">
  <div class="box-wrappper">
    <!-- Start Comment Wrapper 
    <div class="comment-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="comment-area section-fluid-100">
              <h4 class="title">Comments (03)</h4>
              <!-- Start Comment List Items 
              <ul class="comment-list-items">
                <!-- Start Comment List Single Item
                <li class="comment-list-single-item">
                  <div class="comment-list-single-wrap">
                    <div class="top">
                      <div class="user-details">
                        <div class="image">
                          <img src="assets/images/user/user-1.jpg" alt="" />
                        </div>
                        <div class="user-info">
                          <h5 class="name">Sara Alexander</h5>
                          <div class="user-info-details">
                            <span class="profession"
                              >Product Designer, USA
                            </span>
                            <span class="time">35 minutes ago</span>
                          </div>
                        </div>
                      </div>

                      <button class="reply-btn">
                        <i class="icofont-reply"></i> Reply
                      </button>
                    </div>
                    <div class="bottom">
                      <p>
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in
                        some form humour, or randomised words which don't look
                        even slightly believable. If you are going to use a
                        passage of orem psum to be sure there isn't anything
                        embarrassing.
                      </p>
                    </div>
                  </div>

                  <!-- If Has Reply 
                  <ul class="has-reply">
                    <!-- Start Comment List Single Item 
                    <li class="comment-list-single-item">
                      <div class="comment-list-single-wrap">
                        <div class="top">
                          <div class="user-details">
                            <div class="image">
                              <img src="assets/images/user/user-2.jpg" alt="" />
                            </div>
                            <div class="user-info">
                              <h5 class="name">Robert Morgan</h5>
                              <div class="user-info-details">
                                <span class="profession"
                                  >Product Designer, USA
                                </span>
                                <span class="time">22 minutes ago</span>
                              </div>
                            </div>
                          </div>

                          <button class="reply-btn">
                            <i class="icofont-reply"></i> Reply
                          </button>
                        </div>
                        <div class="bottom">
                          <p>
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration
                            in some form humour, or randomised words which don't
                            look even slightly believable. If you are going to
                            use a passage of orem psum to be sure there isn't
                            anything embarrassing.
                          </p>
                        </div>
                      </div>
                    </li>
                    <!-- End Comment List Single Item 
                  </ul>
                </li>
                <!-- End Comment List Single Item 
                <!-- Start Comment List Single Item 
                <li class="comment-list-single-item">
                  <div class="comment-list-single-wrap">
                    <div class="top">
                      <div class="user-details">
                        <div class="image">
                          <img src="assets/images/user/user-3.jpg" alt="" />
                        </div>
                        <div class="user-info">
                          <h5 class="name">Rochelle Hunt</h5>
                          <div class="user-info-details">
                            <span class="profession"
                              >Product Designer, USA
                            </span>
                            <span class="time">09 minutes ago</span>
                          </div>
                        </div>
                      </div>

                      <button class="reply-btn">
                        <i class="icofont-reply"></i> Reply
                      </button>
                    </div>
                    <div class="bottom">
                      <p>
                        There are many variations of passages of Lorem Ipsum
                        available, but the majority have suffered alteration in
                        some form humour, or randomised words which don't look
                        even slightly believable. If you are going to use a
                        passage of orem psum to be sure there isn't anything
                        embarrassing.
                      </p>
                    </div>
                  </div>
                </li>
                <!-- End Comment List Single Item 
              </ul>
              <!-- End Comment List Items 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Comment Wrapper 
  </div>
</div>
<!-- ...::: End Blog Comment Section :::... -->

<!-- ...::: Start Blog Comment Section :::... -->

<!-- <div class="blog-form-section section-top-gap-70">
  <div class="box-wrappper">
    <!-- Start Comment Wrapper -->
    <!-- <div class="form-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="comment-area section-fluid-100">
              <h4 class="title mb-30">Leave a comment</h4>
              <form class="default-form" action="#" method="post">
                <div class="row">
                  <div class="col-lg-6 mb-20">
                    <div class="default-form-single-item">
                      <input type="text" placeholder="Name" required />
                    </div>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <div class="default-form-single-item">
                      <input type="email" placeholder="Email" required />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="default-form-single-item">
                      <textarea placeholder="Massage" rows="10"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center">
                    <button
                      type="submit"
                      class="btn btn-lg btn-default icon-right submit-btn"
                    >
                      Submit Now <i class="icofont-double-right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Comment Wrapper -->
  <!-- </div>
</div>  -->


<!-- ...::: End Blog Comment Section :::... -->

<!-- Start Subscribe Banner -->
<div class="subscribe-banner section-top-gap-150">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-6">
        <div class="content">
          <h6 class="big-text">
            Stay connect with us, get daily & weekly update.
          </h6>
        </div>
      </div>
      <div class="col-auto">
        <a href="{% url 'Contact:Contact' %}" class="btn btn-lg btn-default icon-right"
          >Subscribe Now <i class="icofont-double-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe Banner -->

{% endblock %}
