{% extends 'base.html' %} 
{% block title %} Home {% endblock  %}
{% load static %} 


{% block body %}
<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>
<!-- ...::: Start Hero Display Section :::... -->
<div class="hero-display-section section-fluid-200">
  <div class="box-wrappr">
    <div class="hero-wrapper">
      <div class="hero-content">
        <span class="title-tag">In a few minutes</span>
        <h2 class="title">
          Start <span>& Manage</span> your best choice startup.
        </h2>
        <p>
          The business standard to since the printer took a gallery scrambled it
          to make specimen book.
        </p>
        <a href="{% url 'Services:Services' %}" class="btn btn-lg btn-default icon-right"
          >All Service’s <i class="icofont-double-right"></i
        ></a>
      </div>
      <div class="hero-image">
        <img class="img-fluid" src="{% static 'images/hero/hero.png' %}" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Hero Display Section :::... -->

<!-- ...::: Start Count Display Section :::... -->
<div
  class="
    count-display
    section-fluid-200
    section-top-gap-150
    section-inner-padding-100
    section-inner-gray-gradient-bg-reverse
  "
>
  <div class="box-wrapper">
    <div class="count-wrapper pos-relative">
      <div class="container-fluid">
        <div class="row align-items-center justify-contents-between">
          <div class="col-xl-5 offset-xl-0 col-md-10 offset-md-1 col-sm-12">
            <div class="content text-lg-start text-center">
              <h3 class="title">
                We’r <span>10,000</span> project complete &
                <span>100%</span> client satisfaction.
              </h3>
            </div>
          </div>
          <div class="col">
            <ul class="counter-items counter-items-style-1">
              <!-- Start Counter Single Items  -->
              <li class="counter-single-item">
                <div class="count-box">
                  <img src="{% static 'images/icons/count-shape-blue.png' %}" alt="" />
                  <p class="text">
                    <span class="counter" data-to="100" data-speed="1500"
                      >76</span
                    >%
                  </p>
                </div>
                <h6 class="title">Happy Client’s</h6>
              </li>
              <!-- End Counter Single Items  -->
              <!-- Start Counter Single Items  -->
              <li class="counter-single-item">
                <div class="count-box">
                  <img src="{% static 'images/icons/count-shape-orange.png' %}" alt="" />
                  <p class="text"><span class="counter">88</span>%</p>
                </div>
                <h6 class="title">Positive Rating</h6>
              </li>
              <!-- End Counter Single Items  -->
              <!-- Start Counter Single Items  -->
              <li class="counter-single-item">
                <div class="count-box">
                  <img src="{% static 'images/icons/count-shape-purple.png' %}" alt="" />
                  <p class="text"><span class="counter">92</span>%</p>
                </div>
                <h6 class="title">Projects Done</h6>
              </li>
              <!-- End Counter Single Items  -->
            </ul>
          </div>
        </div>
      </div>
      <div class="dotline-animate">
        <span class="blue"></span>
        <span class="orange"></span>
        <span class="blue"></span>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Count Display Section :::... -->

<!-- ...::: Start Promo Display Section :::... -->
<div
  class="
    promo-display-section
    section-inner-padding-150 section-inner-bg-theme-color-gradeint-noise
  "
>
  <div class="box-wrapper">
    <div class="promo-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Start Promo Items -->
            <div class="promo-items">
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/lightbulb.png' %}" alt="" />
                  <img src="{% static 'images/icons/promo/lightbulb-gradient.png' %}" alt="" />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">Innovative Ideas</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/cyber-security.png' %}" alt="" />
                  <img
                    src="{% static 'images/icons/promo/cyber-security-gradient.png' %}"
                    alt=""
                  />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">Secure & Private</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/skills.png' %}" alt="" />
                  <img src="{% static 'images/icons/promo/skills-gradient.png' %}" alt="" />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">Highly Skills</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/conversation.png' %}" alt="" />
                  <img
                    src="{% static 'images/icons/promo/conversation-gradient.png' %}"
                    alt=""
                  />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">24/7 Support</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/budget.png' %}" alt="" />
                  <img src="{% static 'images/icons/promo/budget-gradient.png' %}" alt="" />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">Affordable Cost</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
              <!-- Start Promo Single Items -->
              <div class="promo-single-items">
                <div class="icon">
                  <img src="{% static 'images/icons/promo/puzzle.png' %}" alt="" />
                  <img src="{% static 'images/icons/promo/puzzle-gradient.png' %}" alt="" />

                  <div class="dot-icon-hover">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <div class="content">
                  <h4 class="title">Right Solution</h4>
                  <p>
                    There are many variations popular sheet containing available
                    have version software like available.
                  </p>
                </div>
              </div>
              <!-- End Promo Single Items -->
            </div>
            <!-- End Promo Items -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Promo Display Section :::... -->

<!-- ...::: Start Service Display Section :::... -->
<div
  class="service-dispaly-section section-inner-padding-150 service-dispaly-bg"
>
  <div class="box-wrapper">
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 offset-xl-3">
            <div class="section-content section-content-gap-80 text-center">
              <h6 class="section-tag tag-orange">Our Services</h6>
              <h3 class="section-title">
                Provide awesome service for our customer
              </h3>
              <span class="icon-seperator"
                ><img src="{% static 'images/icons/section-seperator-shape.png' %}" alt=""
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Start Service Slider -->
            <div class="service-slider default-slider">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->

                  
                  {% for ser in service %}
                             
                  <!-- Start Service Single Items -->
                  <div class="service-single-item service-single-item-style-1 swiper-slide" >
                    <div class="icon">
                      <img src="{{ ser.ServiceImage.url }}" alt="" />
                      <img
                        src="{{ ser.Service_Hover_Image.url }}"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h5 class="title">
                        <a href="{% url 'Services:ServiceList' slug=ser.slug %}"> {{ ser.Title }} </a>
                      </h5>
                      <p> {{ ser.ShortDes }} </p>
                      <a class="text-btn" href="{% url 'Services:ServiceList' slug=ser.slug %}"
                        >View Details
                        <span class="arrow-icon">
                          <img src="{% static 'images/icons/right-arrow-blue.png' %}" alt="" />
                          <img
                            src="{% static 'images/icons/right-arrow-white.png' %}"
                            alt=""
                          /> </span
                      ></a>
                    </div>
                  </div>
                  <!-- End Service Single Items -->

                  {% endfor %}

                </div>
              </div>
              <!-- Navigation buttons -->
              <div class="default-slider-buttons">
                <div class="slider-button button-prev">
                  <i class="icofont-long-arrow-left"></i>
                </div>
                <div class="slider-button button-next">
                  <i class="icofont-long-arrow-right"></i>
                </div>
              </div>
            </div>
            <!-- End Service Slider -->
            <div class="d-flex justify-content-center">
              <a
                href="{% url 'Services:Services' %}"
                class="btn btn-lg btn-default-outline btn-section-bottom"
                >Other’s Service</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Service Display Section :::... -->

<!-- ...::: Start Content Display Section :::... -->
<div class="content-display-section section-top-gap-150">
  <div class="box-wrapper custom-box-wrapper pos-relative">
    <div class="content-inner-img content-inner-img-left">
      <img
        class="img-fluid"
        src="{% static 'images/section-image/section-image-1.png' %}"
        alt=""
      />
    </div>
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 pos-relative">
            <div class="custom-section-content custom-section-content-right">
              <div class="section-content section-content-gap-50">
                <h6 class="section-tag tag-blue">Why Choose Us</h6>
                <h3 class="section-title">
                  Increase business profit with strane agency.
                </h3>
              </div>
              <p>
                There are many variations passages available sheets but majority
                have versions have years suffereds alteration some form humour.
              </p>

              <ul class="content-lists">
                <li><i class="icofont-check"></i> Secure & private</li>
                <li><i class="icofont-check"></i> Right Solution</li>
                <li><i class="icofont-check"></i> Highly Skills</li>
                <li><i class="icofont-check"></i> Client’s Support</li>
              </ul>

              <a href="{% url 'Contact:Contact' %}" class="btn btn-lg btn-default icon-right"
                >Get Started <i class="icofont-double-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Content Display Section :::... -->

<!-- ...::: Start Content Display Section :::... -->
<div class="content-display-section section-top-gap-150 section-fluid-200">
  <div class="box-wrapper custom-box-wrapper pos-relative">
    <div class="content-inner-img content-inner-img-right">
      <img
        class="img-fluid"
        src="{% static 'images/section-image/section-image-2.png' %}"
        alt=""
      />
    </div>
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12 pos-relative">
            <div class="custom-section-content custom-section-content-left">
              <div class="section-content section-content-gap-50">
                <h6 class="section-tag tag-orange">Client’s Support</h6>
                <h3 class="section-title">
                  You can get 100% support from our help desk.
                </h3>
              </div>
              <p>
                There are many variations passages available sheets but majority
                have versions have year suffered alteration some form humour.
              </p>
              <p>
                There are many variations passages available sheets but majority
                have versions have year suffered
              </p>

              <a href="{% url 'Contact:Contact' %}" class="btn btn-lg btn-default icon-right"
                >Get Started <i class="icofont-double-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Content Display Section :::... -->

<!-- ...::: Start Project Display Section :::... -->
<div
  class="
    project-display-section
    section-inner-padding-150 section-top-gap-150
    project-dispaly-bg
  "
>
  <div class="box-wrapper">
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 offset-xl-3">
            <div class="section-content section-content-gap-80 text-center">
              <h6 class="section-tag tag-orange">Complete Work</h6>
              <h3 class="section-title">
                Complete work for client latest work here
              </h3>
              <span class="icon-seperator"
                ><img src="{% static 'images/icons/section-seperator-shape.png' %}" alt=""
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="project-item">
              <div class="row mb-n25">

                
                {% for pro in project %}
  
                <!-- Start Project Single Item -->
                
                {% if forloop.counter > 2 %}
                <div class="col-xl-4 col-md-6 mb-25">
                  {% else %}
                  <div class="col-xl-6 col-md-6 mb-25">
                  {% endif %}
                  <a href="{% url 'Projects:ProjectDetail' slug=pro.slug %}" class="project-single-item">
                    <div class="image img-responsive">
                      <img
                        src="{{ pro.Image.url }}"
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <div class="inner">
                        <div class="text">
                          <h4 class="title"> {{ pro.ProjectName }} </h4>
                          <span class="catagory">{{ pro.Client }}</span>
                        </div>
                        <div class="icon">
                          <img
                            class="img-fluid"
                            src="{% static 'images/icons/right-arrow-white.png' %}"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Project Single Item -->

                {% endfor %}
              </div>
              <div class="d-flex justify-content-center">
                <a
                  href="{% url 'Projects:Project' %}"
                  class="btn btn-lg btn-default btn-section-bottom"
                  >Other’s Project</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Project Display Section :::... -->



<!-- ...::: Start Company Logo Display Section :::... -->
<div class="company-logo-display-section section-fluid-135 company-logo-border">
  <div class="box-wrapper">
    <div class="company-logo-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Start Company Logo Slider -->
            <div class="company-logo-slider">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  
                  {% for logo in clientLogo %}  
            
                  <!-- Start Company Logo Single Item -->
                  <div class="company-logo-single-item swiper-slide">
                    <a href="#" class="image"
                      ><img
                        src="{{ logo.Image.url }}"
                        alt="{{ logo.Name }}"
                    /></a>
                  </div>
                  <!-- End Company Logo Single Item Tanvir@85 -->
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- End Company Logo Slider -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Company Logo Display Section :::... -->

<!-- ...::: Start Testimonial Display Section :::... -->
<div class="testimonial-display-section section-top-gap-150">
  <div class="box-wrapper">
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2">
            <div class="section-content section-content-gap-80 text-center">
              <h6 class="section-tag tag-blue">Client Feedback</h6>
              <h3 class="section-title">
                This is some of strane honorable customer feedback.
              </h3>
              <span class="icon-seperator"
                ><img
                  src="{% static 'images/icons/section-seperator-shape.png' %}"
                  alt=""
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Start Testimonial Slider - Content -->
            <div class="testimonial-content-slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">

                  
                  {% for feedback in clientfeadback %}
                      
                  <!-- Start Testimonial Single Content Item-->
                  <div class="testimonial-single-content-item swiper-slide">
                    <p>
                      {{ feedback.Feedback }}
                    </p>
                    <ul class="review-star">
                      
                      {% if feedback.Feedback_Star == '5' %}
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>  
               
                      {% elif feedback.Feedback_Star == '4' %}
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>

                      {% elif feedback.Feedback_Star == '3' %}
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>

                      {% elif feedback.Feedback_Star == '2' %}
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>

                      {% else %}
                      <li class="fill"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>
                      <li class="blank"><i class="icofont-star"></i></li>

                      {% endif %}
    
                    </ul>
                  </div>
                  <!-- End Testimonial Single Content Item -->
                  {% endfor %}

                </div>
              </div>
            </div>
            <!-- End Testimonial Slider - Content -->
            <!-- Start Testimonial Slider - Thumbnail -->
            <div class="testimonial-thumb-slider">
              <div class="swiper-container">
                <div class="swiper-wrapper">

                  {% for feedback in clientfeadback %}
                  <!-- Start Testimonial Single Thumb Item -->
                  <div class="testimonilal-single-thumb-item swiper-slide">
                    <div class="image">
                      <img
                        src="{{ feedback.Client_Image.url }}"
                        alt="{{ feedback.Client_Name }}"
                      />
                    </div>
                    <div class="content">
                      <h4 class="name">{{ feedback.Client_Name }}</h4>
                      <p>
                        <span class="profession">{{ feedback.Possition }}</span
                        ><span class="company-name">{{ feedback.Company }}</span>
                      </p>
                    </div>
                  </div>
                  <!-- End Testimonial Single Thumb Item-->
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- ENd Testimonial Slider - Thumbnail -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ...::: End Testimonial Display Section :::... -->
</div>
<!-- ...::: End Testimonial Display Section :::... -->

<!-- ...::: Start Blog Feed Section :::... -->
<div
  class="
    blog-feed-display-section
    section-inner-padding-150 section-top-gap-150
    blog-feed-dispaly-bg
  "
>
  <div class="box-wrapper">
    <div class="section-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-7">
            <div class="section-content section-content-gap-80">
              <h6 class="section-tag tag-blue">Latest News</h6>
              <h3 class="section-title">
                Check popular startup related article from news feed.
              </h3>
              <span class="icon-seperator"
                ><img
                  src="{% static 'images/icons/section-seperator-shape.png' %}"
                  alt=""
              /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blgo-feed-slider">
      <div class="container">
        <div class="row">
          <div class="col-12 pos-relative">
            <!-- Start Blog Feed Slider -->
            <div
              class="blog-feed-slider blog-feed-slider-style-1 default-slider"
            >
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  
                  {% for blog in BlogList %}
 
                  <!-- Start Blog List Single Item -->
                  <div class="blog-list-single-item swiper-slide">
                    <a href="{% url 'Blog:BlogDetail' slug=blog.slug %}" class="image"
                      ><img src="{{ blog.Image.url }}" alt=""/>
                    </a>
                    <div class="content">
                      <span class="author"
                        >By<a href="#"> {{ blog.Name }} </a></span
                      >
                      <h5 class="title">
                        <a href="{% url 'Blog:BlogDetail' slug=blog.slug %}">
                          {{ blog.Title }}
                        </a >
                      </h5>

                      <div class="post-info">
                        <span>{{ blog.Time | date:"M d, Y" }}</span>
                        <span>{{ blog.Time | timesince }} ago</span>
                      </div>
                    </div>
                  </div>
                  <!-- End Blog List Single Item -->
                  {% endfor %}
                </div>
              </div>
              <!-- Navigation buttons -->
              <div class="default-slider-buttons">
                <div class="slider-button button-prev">
                  <i class="icofont-long-arrow-left"></i>
                </div>
                <div class="slider-button button-next">
                  <i class="icofont-long-arrow-right"></i>
                </div>
              </div>
            </div>
            <!-- End Blog Feed Slider -->
            <!-- Start Subscribe Banner -->
            <div
              class="
                subscribe-banner subscribe-banner-overflow
                section-top-gap-150 section-fluid-100
              "
            >
              <div class="row justify-content-between align-items-center">
                <div class="col-lg-8 col-xl-8">
                  <div class="content">
                    <h6 class="big-text">
                      Stay connect with us, get daily & weekly update.
                    </h6>
                  </div>
                </div>
                <div class="col-auto">
                  <a
                    href="{% url 'Contact:Contact' %}"
                    class="btn btn-lg btn-default icon-right"
                    >Subscribe Now <i class="icofont-double-right"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- End Subscribe Banner -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Blog Feed Section :::... -->

{% endblock %}
