{% extends 'base.html' %}
{% block title %} {{ ProjectShow.Category }} {% endblock  %}
{% load static %} {% block body %}

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<!-- ...::: Start Breadcrumb Section :::... -->
<div class="breadcrumb-section">
  <div class="box-wrapper">
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2 class="breadcrumb-title">Brand Identity</h2>
            <ul class="breadcrumb-nav">
              <li><a href="{% url 'Projects:Project' %}">Services</a></li>
              <li>Portfolio Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Breadcrumb Section :::... -->

<!-- ...::: Start Service Details Section :::... -->
<div class="portfolio-details-section section-top-gap-150">
  <div class="box-wrapper">
    <div class="portfolio-details-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="
                custome-container-with-sidebar
                d-flex
                flex-column-reverse flex-lg-row-reverse
              "
            >
              <div class="container-width-37 sidebar-rightside">
                <div class="sidebar-wrapper">
                  <!-- Start Sidebar Widget Single Item - Project Info -->
                  <div
                    class="
                      sidebar-widget-singel-item
                      widget-box-bg
                      portfolio-project-widget-box
                    "
                  >
                    <ul class="widget-project">
                      <li>
                        <h4 class="text-tag">Client:</h4>
                        <span>{{ ProjectShow.Client }}</span>
                      </li>
                      <li>
                        <h4 class="text-tag">Category:</h4>
                        <span>{{ ProjectShow.Category }}</span>
                      </li>
                      <!-- <li>
                        <h4 class="text-tag">Location:</h4>
                        <span
                          >48 Fauver Mine Rd Raphine, Virginia(VA), 24472</span
                        >
                      </li> -->
                    </ul>
                  </div>
                  <!-- End Sidebar Widget Single Item - Project Info -->
                  <!-- Start Sidebar Widget Single Item - Contact Banner -->
                  <div
                    class="
                      sidebar-widget-singel-item
                      widget-box-bg
                      gradient-bg
                      contact-widget-box
                    "
                  >
                    <div class="widget-contact">
                      <h6 class="title">Call Us Now:</h6>
                      <a href="tel:+0123456789">+012 345 6789</a>
                      <img
                        class="img-fluid"
                        src="{% static 'images/icons/telephone.png' %}"
                        alt=""
                      />
                    </div>
                  </div>
                  <!-- End Sidebar Widget Single Item - Contact Banner -->
                </div>
              </div>
              <div class="container-width-63">
                <!-- Start Project Slider - Large -->
                <div class="project-large-slider">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <!-- Start Project large Slider Item -->
                      <div
                        class="project-large-item swiper-slide img-responsive"
                      >
                        <img src="{{ ProjectShow.Image.url }}" alt="" />
                      </div>
                      <!-- End Project large Slider Item -->
                    </div>
                  </div>
                </div>
                <!-- End Project Slider - Large -->
              </div>
            </div>
            <div class="default-text-content">
              <p>{{ ProjectShow.Description | safe }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...::: End Service Details Section :::... -->


<!-- Start Subscribe Banner -->
<div class="subscribe-banner section-top-gap-150">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-6">
        <div class="content">
          <h6 class="big-text">
            Stay connect with us, get daily & weekly update.
          </h6>
        </div>
      </div>
      <div class="col-auto">
        <a href="{% url 'Contact:Contact' %}" class="btn btn-lg btn-default icon-right"
          >Subscribe Now <i class="icofont-double-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe Banner -->
{% endblock %}
